{{ define "main" }}
<h1>{{ .Page.Title }}</h1>
{{ .Content }}
<div class="image-grid">
    {{ range sort .Data.Pages "Date" "desc" }}
        {{ if and (isset .Params "image") .Params.image }}
            {{ $imageName := .Params.image }}
            <a href="{{ .Permalink }}" title="{{ .Title }}">
            {{ with .Resources.GetMatch $imageName }}
                {{ $oriented := .Filter images.AutoOrient }}
                {{ $thumb := $oriented.Resize "800x" }}
                <img src="{{ $thumb.RelPermalink }}" alt="" class="img-responsive">
            {{ end }}
            </a>
        {{ end }}
    {{ end }}
</div>
{{ end }}